<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<!-- <link rel="stylesheet" href="https://getmobile.pk/umair/"> -->
<h1> welcome </h1>
<img src="E:\jan Muhammad 7333/4336c7a7-463d-4e4e-a34e-eae16d5cc3bd.jpg" alt="">
<img src="IMG_20200419_072212.jpg" alt="">

</body>
</html>